<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zanlane.app.tandf">

    <application
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".component.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".component.ThreeAndFourService"></service>

        <receiver
            android:name=".component.StartBootReceiver"
            android:enabled="false"
            android:exported="false"></receiver>
    </application>

</manifest>